@font-face {
  font-family: 'OpenSans-Light';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/OpenSans-Light.woff') format('woff'), 
  url('../fonts/OpenSans-Light.ttf')  format('truetype'), 
  url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/OpenSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
}  
@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
} 
@font-face {
  font-family: 'OpenSans-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/OpenSans-SemiBold.woff') format('woff'), 
  url('../fonts/OpenSans-SemiBold.ttf')  format('truetype'), 
  url('../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/OpenSans-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/OpenSans-Bold.woff') format('woff'), 
  url('../fonts/OpenSans-Bold.ttf')  format('truetype'), 
  url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/OpenSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-ExtraBold.ttf'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: "Material Design Icons";
  src: url("../fonts/materialdesignicons-webfont.eot?v=4.8.95");
  src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=4.8.95") format("embedded-opentype"), url("../fonts/materialdesignicons-webfont.woff2?v=4.8.95") format("woff2"), url("../fonts/materialdesignicons-webfont.woff?v=4.8.95") format("woff"), url("../fonts/materialdesignicons-webfont.ttf?v=4.8.95") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/materials.woff2) format('woff2');
}



.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


body {
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.skipLink {
  background: #27A088;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: bold;
  left: -9999px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 180px;
  padding: 0 10px;
  z-index: 9;
  top:5px;
}
.skipLink:hover{
  color: #fff;
}
.skipLink:focus{
  left: 10px;
}
input[type="password"]::-ms-reveal, input[type="password"]::-ms-clear {
  display: none;
}