@font-face {
  font-family: 'OpenSans-Light';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),  
  url('./assets/fonts/OpenSans-Light.woff') format('woff'), 
  url('./assets/fonts/OpenSans-Light.ttf')  format('truetype'), 
  url('./assets/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  src: local('Open Sans'), local('OpenSans'),
       url('./assets/fonts/OpenSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
}  
@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/OpenSans-Regular.ttf'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('./assets/fonts/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
} 
@font-face {
  font-family: 'OpenSans-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),  
  url('./assets/fonts/OpenSans-SemiBold.woff') format('woff'), 
  url('./assets/fonts/OpenSans-SemiBold.ttf')  format('truetype'), 
  url('./assets/fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
  src: local('Open Sans'), local('OpenSans'),
       url('./assets/fonts/OpenSans-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  
  url('./assets/fonts/OpenSans-Bold.woff') format('woff'), 
  url('./assets/fonts/OpenSans-Bold.ttf')  format('truetype'), 
  url('./assets/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  src: local('Open Sans'), local('OpenSans'),
       url('./assets/fonts/OpenSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/OpenSans-ExtraBold.ttf'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('./assets/fonts/OpenSans-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'),
       url(./assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.eot) format('eot'),
       url(./assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.svg) format('svg'),
       url(./assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff) format('woff'),
       url(./assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.ttf) format('truetype'); 
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*-- Created By Manoj Sharma --*/

.dropdownstyle {
    background: #fff !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
}

.dropdownstyle div div {
    padding: 6px 11px 7px !important;
}

.dropdownstyle:before {
    border-bottom:none !important;
}

.tableMargin {
    box-shadow:none !important;
}

.btn.disabled, .btn:disabled {
    opacity: .65;
    background: #c1c1c1 !important;
    color: black !important;
}

.MuiCheckbox-colorSecondary-246.MuiCheckbox-checked-242 {
    color: #0790bd !important;
}

.autopay_tabs_wrapper > .autopay_tabs_header {
    width: 360px !important;
}

.custom-loader:before {
  background-color: rgba(0,0,0,0.4);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  content: '';
  z-index: 99999;
}
.MuiSnackbar-anchorOriginTopCenter{
  top: 0 !important;
}
.border-width-2{
  border-width: 2px !important;
}
#pswd_info {
    position: absolute;
    top: 85%;
    left: 0px;
    width: 100%;
    background: #fff;
    padding: 15px;
    font-size: .875em;
    border-radius: 4px;
    z-index: 9;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);
    opacity: 1;
}
.strengthdiv_progress .strength_meter {
    margin: 5px 8px 10px;
    font-weight: bold;
    background: #fff;
    width: 100%;
    float: left;
    border-bottom: 1px solid #f8f8f8;
}
.pro_wrapper {
    background: #fff;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    float: left;
    width: 100%;
}
#pswd_info > ul {
    margin: 0px;
    float: left;
    width: 100%;
}
.invalid {
    margin-left: 10px;
    line-height: 24px;
    color: #222221;
    font-size: 14px;
    font-family: proxima-nova;
    background-position: left top 4px;
}
.invalid:before, .valid:before {
    font-size: 20px;
    margin-right: 8px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    vertical-align: -6px;
}
.invalid:before {
    content: "close";
    color: #AF0220;
}
.valid {
    margin-left: 10px;
    line-height: 24px;
    color: #222221;
    font-size: 14px;
    font-family: proxima-nova;
    background-position: left top 4px;
}
.valid:before {
    color: #098169;
    content: "done";
}
a{
    color: #27A088;
    text-decoration: underline;
}
a{
    color: #098169;
    text-decoration: none;
}
input[type="password"]::-ms-reveal, input[type="password"]::-ms-clear {
    display: none;
}